body {
  padding: 20px;
}

.ui.grid > .column,
.ui.grid > .row > .column {
  padding-left: 0;
  padding-right: 0;
}

.ui.grid > .column {
  margin-bottom: 0.25rem;
  margin-top: 0;
}

.ui.feed .content {
  padding-right: 20px;
}
